<!-- <ul class="nav">
    <li><a routerLink="home">Home</a></li>
    <li><a href="record">Record</a></li>
  </ul> -->

  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0"> CoLabX </h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link fw-bold py-1 px-1  text-white bg-dark" aria-current="page"  routerLink="home">Home</a>
        <a class="nav-link fw-bold py-1 px-1 text-white bg-dark" routerLink="record">Record</a>
        <a class="nav-link fw-bold py-1 px-1 text-white bg-dark" routerLink="record-list">List</a>
      </nav>
    </div>
  </header>